/* Font Stuff */
window {
    font-family: "FantasqueSansM Nerd Font Mono";
}

/* Bar */
window.bar {
    font-size: 18px;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

button:active {
    background-color: @theme_selected_bg_color;
}

button:hover {
    border-bottom: 3px solid @theme_fg_color;
}

label {
    font-weight: bold;
}

.icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em;
}

.icon image {
    font-size: 58px;
    /* to center the icon */
    margin: 5px;
    color: @theme_fg_color;
}

.icon box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 7px;
}

/* Bar Background and Border */
.client-title,
.clock,
.volume,
.battery,
.memory,
.fs-root,
.fs-home,
.networktraffic,
.cpu,
.generation,
.tray
{
    background-color: rgba(17, 17, 17, 0.5);
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    padding: 2px;
}

.networktraffic-down, .networktraffic-up {
    padding: 1px;
}
/* Bar Colors */
.memory {
    color: #b4befe; /* Catp. Lavender */
}

.battery,
.icon-battery-full {
    color: #89dceb; /* Catp. Sky */
}

.icon-battery-notcharging {
    color: #f38ba8; /* Catp. Red */
}

.icon-battery-charging {
    color: #a6e3a1; /* Catp. Green */
}

.volume {
    color: #94e2d5	; /* Catp. Teal */
}

.icon-volume-muted {
    color: #f38ba8; /* Catp. Red */
}

.fs-root {
    color: #fab387; /* Catp. Peach */ 
}

.fs-home {
    color: #f2cdcd; /* Catp. Flamingo */
}

.networktraffic {
    color: #cba6f7; /* Catp. Mauve */
}

.cpu {
    color: #f9e2af; /* Catp. Yellow */
}

.generation {
    color: #74c7ec; /* Catp. Sapphire */
}

.client-title {
    padding-top: 0px;
    padding-bottom: 0px;
    color: #cdd6f4; /* Catp. Text */
}

.icon-battery-full,
.icon-battery-charging,
.icon-battery-notcharging
{
    padding-top: 2px;
    padding-bottom: 2px;
}

.icon-volume,
.icon-volume-muted
{
    padding-top: 2px;
    margin-bottom: -2px;
}


.icon-memory,
.icon-fs-root,
.icon-fs-home,
.icon-network,
.icon-cpu,
.icon-generation
{
    font-size: 30px;
    margin-top: -4px;
    margin-bottom: -4px;
}


/* Volume Slider */
scale {
    min-width: 50px;
    padding-top: 22px;
    margin: -9px;
}

slider {
    border-radius: 10px;
    min-width: 5px;
    min-height: 5px;
    margin: -8px;
}

slider:hover {
    background-color: rgba(148, 226, 213, 0.4);
}

slider:active {
    background-color: rgba(148, 226, 213, 0.6);
}

highlight {
    min-height: 2px;
    background-color: #94e2d5;
}

/* Tray Buttons */
.tray-button {
    min-width: 0;
    padding: 1px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
}

.tray-button:active {
    background-color: @theme_selected_bg_color;
}

.tray-button:hover {
    border-bottom: none
}

/* Workspace Buttons */

.workspaces button {
    min-height: 0px;
    background-color: rgba(17, 17, 17, 0.5);
    border: 1px solid #6c7086 /* Catp. Overlay 1 */
}

.workspaces button.focused {
    border: 1px solid #cdd6f4; /* Catp. Text */
}


/* App Launcher */
.applauncher,
.applauncher-entry
{
    background-color: rgba(17, 17, 17, 0.95);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.appitem {
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}


